


@media (width < 1200px ) {

    .brand-logo img {
        /* height: 82px; */
        object-fit: contain;
        width: 150px;
    }
    .nav-links {
        gap: 50px;
    }
    .navsec{
        padding: 10px 0px;
    }
    .banner-content {
        padding: 0px;
        left: 85px;
        top: 110px;
    }
    .banner-place1 {
        width: 55%;
        height: 500px;
    }
    .banner-place2{
        height: 500px;
    }
    .banner-content h3 , .intro-content h2{
        font-size: 40px;
    }
    .banner-content p{
        font-size: 20px;
        margin: 20px 0px;
    }
    .intro-content {
        width: 100%;
        height: 100%;
        padding: 30px;
    }
    .into-img img{
        object-fit: cover;
    }
    .sub-img {
        top: 60px;
        width: 185px;
        left: 78px;
    }
    .intro-content h5{
        font-size: 20px;
    }
    .intro-content p{
        font-size: 18px;
    }
    .intro-content h2{
        margin: 25px 0px;
    }
    .choose-title h2, .service-title h2, .customer-say h2, .blog-title h2, .talk-title h2 , .ct-title h2 {
        font-family: 'Font-Bold', sans-serif;
        font-size: 40px;
    }
    .choose-name h5 {
        font-size: 20px;
        font-weight: 600;
    }
    .choose-img img{
        width: 70px;
        height: auto;
    }
    .choose-sec , .service-sec{
        padding: 60px 0px;
    }
    .choose-option{
        margin-top: 30px;
    }
    .sp-icon {
        width: 130px;
        background-color: #000;
        padding: 25px 30px;
        border-radius: 127px;
    }
    .sp-icon img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    .sp-name h5{
        font-size: 20px;
    }
    .service-place{
        margin-top: 40px;
    }
    .explore-btn button, .explore-btn button:hover {

        margin-top: 20px;
    }
.secure-content{
    margin-left: 40px;
}
    .sc-title h5 {
        font-size: 40px;
        line-height: 48px;
    }

    .sc-details button, .sc-details button:hover {
        padding: 10px 48px;
        font-size: 16px;
    }
    .scgap{
        margin: 40px 0px;
    }
    .sc-types{
        margin: 20px 0px;
    }
    .mapimg{
        height: 100%;
        margin: 60px 0px;
    }
    .athena img{
        width: 380px;
    }
    .lock-vontent {
        padding: 0px;
        height: 100%;
        padding: 55px 35px;
    }
    .lock-vontent p{
        font-size: 20px;
    }
    .blog-btn button {
        margin: 20px 0px;
    }
    .blog-info h6 {
        font-size: 20px;
    }
    .blog-info{
        padding: 10px;
    }
    .blog-pic {
        margin: 45px 0px;
    }
    .blog-sec{
        padding: 60px 0px;
    }
    .entry-form{
        margin: 0px 100px;
    }
    .lockimg img {
        height: 450px
    }

    /* .sign-up, .footer-bottom .brand-logo , .footer-details  , .information{
        padding: 50px 20px
    } */
.footer-details{
    padding: 37px 49px;
}
.footer-bottom{
    padding: 50px 35px
}

    .footer-details h2{
        font-size: 35px;
    }
    .footer-details p{
        font-size: 22px;
    }
    .sp-title h3, .inf-title h3 {
        font-size: 22px;
    }
    .sp-input input, .sp-input input:focus, .sp-input input:focus-visible {
        width: 195px;
    }
    .sp-input button, .sp-input button:hover {
        padding: 7px 8px;
    }
    .abtbanner-content {
        top: 10%;
        padding: 0px 150px;
    }
    .abtbanner-content p {
        font-size: 25px;
        margin: 20px 0px;
    }
    .abtbanner-content h2 {
        font-size: 40px;
    }
    .abtbanner-content button, .abtbanner-content button:hover {
        font-size: 16px;
    }
    .abtwho-pic img{
        height: 450px;
    }
    .abtwho-cnt{
        padding: 50px;
    }
    .abtwho-cnt p {
        font-size: 18px;
        margin: 10px 0px;
    }
    .abtwho-cnt h5 {
        font-size: 20px;
        margin-top: 30px;
    }
    .abt-billing{
        padding: 50px 30px;
    }
    .abt-mission h5{
        font-size: 20px;
    }
    .abt-mission p{
        font-size: 18px;
    }
    .mission-img img {
        width: 650px;
    }
    .athena-frame .container h4  , .ci-title h2{
        font-size: 45px;
    }
    .athena-frame .container h2 {
        font-size: 110px;
    }
    .athpic img, .wellpic img {
        width: 140px;
    }

    .ci-points{
        width: 580px;
    }
    .ci-name h5 {
        font-size: 23px;
    }
    .athena-modular p, .report-content p {
        padding-top: 20px;
        font-size: 18px;
    }
    .mo-point h5 {
        font-size: 18px;
        margin: 19px 0px;
    }

    .point-btn button , .point-btn button:hover , .report-content button , .report-content button:hover{
        font-size: 16px;
      }
      .fff{
        width: 600px;
      }
      .value-point{
        width: 800px !important;
      }
      .service-intro {
        margin: 0px 100px;
    }
    .service-name h2{
        font-size: 52px;
    }
    .sp-title h2{
        font-size: 40px;
    }
    .service-img img {
        width: 480px;
    }
    .pb-name h4 {
        font-size: 25px;
    }
    .pb-name{
       width: 260px;
    }
    .pb-img {
        width: 100px;
    }
    .partner-box{
        padding: 55px 0px;
        margin: 20px 0px;
    }
    

}

@media (width <  992px) {

    .banner-content p {
        font-size: 18px;
        margin: 20px 0px;
    }
    .forms{
        padding: 15px;
    }

    .banner-place1 {
        width: 55%;
        height: 380px;
    }
    .banner-content {
        padding: 0px;
        left: 53px;
        top: 67px;
        width: 370px !important;
    }
    .banner-place2 {
        height: 380px;
    }
    .banner-content h3, .intro-content h2 , .choose-title h2, .service-title h2, .customer-say h2,
     .blog-title h2, .talk-title h2 , .sc-title h5  , .footer-details h2 , .abtbanner-content h2 , .abtwho-cnt h2 , .ct-title h2{
        font-size: 35px;
    }
    .into-img img {
        object-fit: cover;
        height: 450px;
        width: 100%;
    }
    .blog-info h6 {
        font-size: 15px;
    }
    .sub-img img{
        width: 150px !important;
        height: 100% !important
    }
    .sub-img {
        top: 30px;
        left: 204px;
    }
    .choose-sec, .service-sec , .intro-content , .blog-sec  {
        padding: 50px 30px;
    }
    .choose-img img {
        width: 75px;
    }
    .sp-icon {
        width: 110px;
        padding: 15px 25px;
        border-radius: 127px;
    }
    .sp-name h5 {
        width: 100%;

    }
    .service-place {
        margin-top: 25px;
    }
    .explore-btn button, .explore-btn button:hover {
        margin-top: 30px;
    }
    .mapimg {
        height: 400px !important;
        margin: 0px;
    }
    .athena img {
        width: 368px;
        margin-top: 50px;
    }
    .mainscc{
        display: flex;
        justify-content: center;
    }
    .scgap{
        margin: 20px 0px;
    }
    .secure-content{
    padding: 0px;
    }
    .lockimg img {
        height: 340px;
        width: 100%;
    }
    .blog-box{
        margin: 30px 0px;
    }
    .blog-pic{
        margin: 0px;
    }
    .blog-btn button {
        margin: 10px 0px;
        font-size: 10px;
    }
    .blog-info{
        padding: 0px;
    }
    .entry-form {
        margin: 0px 50px;
    }

    .footer-details {
        padding: 41px 38px;
    }
    .footer-bg , .footer-bg img{
        height: 100%;
        object-fit: cover;
    }
    .footer-details p {
        font-size: 20px;
        margin: 20px 0px;
        line-height: 30px;
    }
    .sp-input button, .sp-input button:hover {
   
        padding: 8px 8px;
    }
    .sp-info p {
        font-size: 16px;
    }
    .sp-title h3 {
        font-size: 22px;
    }
    .abtbanner-content{
        padding: 0px 120px;
    }
    .abtbanner-content P{
        font-size: 20px;
    }
    .athena-frame .container h4, .ci-title h2 {
        font-size: 35px;
    }
    .athena-frame .container h2 {
        font-size: 80px;
    }
    .athena-frame .container p {
        font-size: 18px;
    }
    .wellpic {
        right: 5%;
        top: 2%;
    }
    .athpic {
        top: 4%;
        left: 5%;
    }
    .athpic img, .wellpic img {
        width: 120px;
    }
    .athena-modular {
        width: 100%;
    }
    .athena-modular h2, .report-content h2 {
        font-size: 45px;
    }

    .mo-point h5 {
        font-size: 17px;
        margin: 15px 0px;
    }
    .fff {
        width: 550px;
    }
    .ci-tik , .jjjj{
        width: 50px;
        height: 50px;
    }
    .value-point{
        width: 100% !important;
    }
    .ci-name h5 {
        font-size: 21px;
    }
    .report-img img , .mo-img img{
        margin-top: 50px;
        width: 100%;
    }
    .point-btn button, .point-btn button:hover, .report-content button, .report-content button:hover {
        padding: 8px 35px;
        font-size: 16px;
    }
    .common-issue , .modular-service , .report-service {
        padding: 60px 0px;
    }
    .service-intro{
        margin: 0px 50px;
    }
    .service-img img {
        width: 400px;
    }
    .service-name p {
        font-size: 18px;
    }
    .service-name h2 {
        font-size: 45px;
    }
    .service-partner, .service-intro {
        padding: 50px 0px;
    }
    .pb-img {
        width: 65px;
    }
    .pb-name h4 {
        font-size: 19px;
    }
    .pb-name{
        width: 230px;
    }
    .partner-box{
        width: 100%;
    }
    .sp-title h2 {
        font-size: 35px;
        margin-bottom: 35px;
    }
    .ct-form{
        top: 85px;
    }
    



}

@media (width < 768px) {
    .athpic img, .wellpic img {
        width: 100px;
        padding: 20px;
    }
    .sign-up , .footer-bottom .brand-logo , .information{
        padding : 30px
      }
    .common-issue, .modular-service, .report-service {
        padding: 50px 30px;
    }
    .athena-frame .container h4, .ci-title h2 {
        font-size: 24px;
    }
    .forms{
        padding: 10px 0px;
    }
    .athena-frame .container h2 {
        font-size: 60px;
    }
    .athena-frame .container p {
        font-size: 16px;
    }
    .ci-points {
        width: 100%;
    }
    .ci-tik {
        width: 45px;
        height: 45px;
    }
    .ci-tik img , .jjjj img{
        margin-top: 10px;
    }
    .jjjj {
        width: 47px;
        height: 40px;
    }
    
    .ci-name h5 {
        font-size: 17px;
    }
    .athena-modular{
        text-align: center;
    }
    .athena-modular h2, .report-content h2 {
        font-size: 35px;
    }
    .report-img img, .mo-img img {
        width: 400px;
    }
    .fff {
        width: 100%;
    }
    .service-img img {
        width: 350px;
    }
    .service-name h2{
        font-size: 35px;
    }
    .sp-title h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .partner-box {
        width: 400px;
    }
    .ct-form .entry-form{
        width: 100%;
    }
    .ct-form .entry-form button, .ct-form .entry-form button:hover {
        width: 100%;
        font-size: 18px;
    }

}

@media (width < 576px) {
    
    .willenet .nav-items{
        margin: 13px 0px;
    }
    .brand-logo img{
        width: 113px;
        object-fit: contain;
    }
    .banner-place2 {
        width: 520px;
        height: 375px;
        background-size: cover;
        margin-top: 330px;
    }
    .banner-place1 {
        width: 100%;
        height: 333px;
        background-size: cover;
    }
    .banner-content {
        padding: 0px;
        left: 40px;
        top: 40px;
        text-align: center;
    }
    .navsec{
        padding: 0px;
    }
    .banner-content h3{
        font-size: 30px;
    }
    .banner-content p{
        font-size: 16px;
    }
    .banner-content button, .banner-content button:hover {
        padding: 9px 72px;
        width: 100%;
    }
    .ex-name h6 {
        font-size: 12px;
        font-weight: 600;
        margin: 0px;
    }
    .ex-nums span {
        font-size: 42px;
        font-weight: 700;
        color: #00A9E5;
    }
    .ex-box{
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: #DBF6FF;
                width: 100%;
                padding: 20px 20px;
                margin: 15px 0px;
    }
    .expsec{
        background-color: white;
        padding: 30px;
    }
    .intro-content , .success-sec , .choose-sec ,  .service-sec , .blog-sec , .footer-details , .lets-sec , .lock-vontent {
        padding: 50px  30px;
    }
    .intro-content h5{
        font-size: 16px;
    }
    .intro-content h2{
        font-size: 24px;
    }
    .intro-content p{
        font-size: 14px;
        margin: 20px 0px;
    }
    .sub-img {
        top: 31px;
        width: 182px;
        left: 171px;
    }
    .choose-title h2, .service-title h2, .customer-say h2, .blog-title h2, .talk-title h2 , .ct-title h2 {
        font-family: 'Font-Bold', sans-serif;
        font-size: 24px;
    }
    .choose-box{
        padding: 10px 0px;
    }
    .sp-icon img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    .sp-name h5{
        font-size: 12px;
        width: 100%;
    }
    .service-place {
        margin-top: 20px;
    }
    .sp-icon {
        width: 100px;
        padding: 25px;
    }
    .choose-img img {
        width: 72px;
        height: 100%;
    }
    .choose-name h5 {
        font-size: 18px;
        margin: 0px;
    }

    .choose-button button{
        width: 100%;
    }
    /* .serv-name h5 {
        font-size: 16px;
    } */

    .explore-btn button, .explore-btn button:hover {
        margin-top: 20px;
        width: 100%;
    }
    .success-box{
        width: 100%;
        margin: 15px 0px;
        padding: 10px 30px;
    }
    .sc-count span {
        font-size: 48px;
    }
    .sc-name h5{
        font-size: 18px;
    }
    .customer-say {
        margin: 40px 0px;
    }
    .cst-desc p {
        font-size: 13px;
    }
    .cst-city p {
        font-size: 13px;

    }
    .cst-name h5 {
        font-size: 16px;

    }
    .swiper-slide{
        width: 342px;
        margin-right: 10px;
        width: 100% !important;
        height: 255px !important;
    }
    .review-box {
        padding: 15px;
    }
    .cst-star {
        font-size: 18px;
    }
    .cst-review h5 {
        font-size: 14px;
    }
    .left-rect {
        top: 84px;
        width: 113px;
        rotate: 292deg;
        left: -45px;
    }
    .secure-title h2 {
        font-size: 25px;
    }
    .secure-title p{
        font-size: 12px;
    }
    .secure-img img {
        width: 218px;
    }
    .frame-icon {
        width: 70px;
        right: 3%;
    }
    .left-rect2 img , .right-rect2 img{
        height: 80px
    }
    .right-rect2{
        right: 0px;
        bottom: 20px;
    }
    .left-rect2{
        left: 0px;
        top: 20px;
    }
    .blog-box{
        width: 100%;
        margin: 20px 0px;
    }
    .blog-pic{
        margin: 0px;
    }
    .entry-form form{
        margin-top: 20px;
    }
    .entry-form{
        margin: 0px;
    }
    .blog-info h6 {
        font-weight: 700;
        font-size: 12px;
    }
    .blog-btn button {
        padding: 9px 30px;
        font-size: 8px;
        margin: 0px;
    }
    .input-grp input , .select-grp select , .text-grp textarea , .input-grp input:focus , .select-grp select:focus-visible{
       width: 100%;
       padding: 14px 30px;
       font-size: 12px;
       border-radius: 28px;
      }
      .input-grp input::placeholder , .select-grp select , .text-grp textarea::placeholder{
        font-size: 12px;
      }
      .entry-form .input-grp , .entry-form .select-grp , .entry-form .text-grp{
        display: flex;
        justify-content: center;
      }
      .footer-details{
        text-align: center;
      }
      .footer-details h2 {
        font-size: 30px;
        line-height: 29px;
    }
    .footer-details p {
        font-size: 18px;
        font-weight: 400;
        margin: 30px 0px;
        line-height: 21px;
    }
    .footer-details button {
        background-color: #25CEBA;
        padding: 7px 20px;
        width: 100%;
        font-size: 16px;
    }
    .blog-load p {
        font-family: "Truculenta", sans-serif !important;
        font-size: 12px;
        width: 53px;
        margin: 0px;
    }

   .footer-bottom .brand-logo , .sign-up{
    padding: 30px 0px;
   }
   .sp-title h3 {
    font-family: 'Font-Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}
.sp-input button, .sp-input button:hover {
    padding: 4px 8px;
    font-size: 15px;
}
.sp-input input, .sp-input input:focus, .sp-input input:focus-visible {
    width: 223px;
    padding: 6px 20px;
    font-size: 15px;

}

  
.sp-input{
    justify-content: center;
}
.sp-info p {
    font-size: 14px;
}
.sp-social div img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.submit-btn button, .submit-btn button:hover {
    width: 100%;
    margin-top: 15px;
}
.sc-title h5 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.secure-content{
    margin: 0px;
    padding: 0px 30px;
}
.sc-details button{
    width: 100%;
    font-size: 16px;
}
.mapimg {
    background: url('/public/assets/map.png');
    background-size: cover;
    height: 100%;
}
.athena img {
    width: 290px;
    padding: 60px 0px;
}
.lock-vontent p , .sc-details button{
    font-size: 16px;
}
.lockimg img {
    height: 100%
}
.scgap{
    margin: 20px 0px;
}
.abt-curve img{
    height: 400px;
}
.abtbanner-content {
    top: 5%;
    padding: 0px 150px;
}
.abtbanner-content h2{
    font-size: 30px;
  }
  .abt-frme img{
    height: 516px;
    object-fit: cover;
  }
.abtbanner-content{
    padding: 0px 30px;
}
.abtbanner-content p{
    font-size: 16px;
}
.abtbanner-content button, .abtbanner-content button:hover {
    background-color: #00A9E5;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}
.abtbanner-content p{
    margin: 20px 0px;
}
.abtwho-cnt {
    padding: 50px 30px
}
.abtwho-cnt h2 {
    font-size: 24px;
}
.abtwho-cnt h5{
    font-size: 16px;
    margin: 25px 0px;
}
.abtwho-cnt p{
    font-size: 14px;
}
.abtwho-pic img{
    height: 450px;
}
.abt-billing{
    padding: 50px 30px;
}
.abt-mission h4{
    font-size: 16px;
  }
  .abt-mission h2{
    font-size: 24px;
    margin: 20px 0px;
  }
  .abt-billing p{
    font-size: 16px;
  }
  .athena-frame .container h4 {
    font-size: 18px;
}
.athena-frame .container h2 {
    font-size: 42px;
}
.athpic img, .wellpic img {
    width: 100px;
}
.ci-tik img  , .jjjj img{
    width: 12px;
    object-fit: contain;
}
.ci-tik {
    width: 24px;
    height: 24px;
}
.jjjj {
    width: 28px;
    height: 24px;
}
.ci-points {
    padding: 10px 20px;
}

.ci-tik img  , .jjjj img {
    margin-top: 0px;
}
.ci-name h5  {
    font-size: 14px;
}
.athena-modular h2, .report-content h2 {
    font-size: 24px;
}
.athena-modular p, .report-content p {
    padding-top: 10px;
    font-size: 16px;
}
.mo-point h5 {
    font-size: 14px;
    margin: 12px 0px;
}
.point-btn button, .point-btn button:hover, .report-content button, .report-content button:hover {
    font-size: 16px;
    width: 100%;
}
.report-img img, .mo-img img {
    width: 300px;
}
.service-partner, .service-intro {
    padding: 40px 30px;
    margin: 0px;
}
.service-intro h2{
    font-size: 30px;
}
.service-intro p{
    font-size: 16px;
}
.service-img img {
    width: 300px;
    margin-top: 30px;
}
.sp-title h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
.partner-box{
    width: 100%;
}
.pb-img {
    width: 50px;
}
.pb-name h4{
    font-size: 16px;
}
.pb-name{
    width: 190px;
}
.text-danger{
    font-size: 13px;
    padding: 0px 10px;
}
.athena-banner img{
    rotate: 15deg;
    margin: 15px 0px
}
.athena-banner{
    padding: 40px 0px;
}
.athpic {
    top: 2%;
    left: 15%;
}
.wellpic {
    right: 8%;
    top: 22%;
}
.if-page .row{
    width: 350px !important;
}
.ct-img img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.ct-form{
    top: 50px;
}
.ct-form .entry-form{
    width: 100%;
    padding: 0px 10px;
}
.ct-form .entry-form .forms {
    padding: 6px 0px;
}
.ct-form .entry-form button, .ct-form .entry-form button:hover{
    font-size: 13px;
    padding: 8px;
    margin-top: 5px;
}
.input-grp input, .select-grp select, .text-grp textarea, .input-grp input:focus, .select-grp select:focus-visible{
    margin-bottom: 0px;
}
}

@media (width < 425px) {

    .banner-content {
        left: 16px;
        padding: 0;
        text-align: center;
        top: 40px;
        width: 100%;
        padding: 0px 30px;
    }
    
}