@font-face{
  font-family: 'Font-Regular';
  src: url('../public/fonts/MYRIADPRO-REGULAR.otf');
}
@font-face{
  font-family: 'Font-Bold';
  src: url('../public/fonts/MYRIADPRO-BOLD.otf');
}


body , html{
  margin: 0px;
  padding: 0px;
  font-family: 'Font-Regular' , sans-serif !important;
  overflow-x: hidden;
}
a{
  text-decoration: none !important;
  color: #000 !important;
}
.brand-logo img{
  width: 195px;
  height: 82px;
  object-fit: cover;
}
.nav-items h5{
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  
}
.nav-links{
  gap: 80px;
}
.active{
  background-color: #00A9E5 !important;
  padding: 12px 20px;
  border-radius: 5px;
}
.active a{
  color: white !important;

}

.navsec{
  padding: 25px 0px;
}
.banner-place2{
  background-image: url('../public/assets/banner1.png');
  width: 100%;
  height: 669px;
  background-size: cover;
}
.banner-place1{
  background-image: url('../public/assets/banner2.png');
  width: 50%;
  height: 669px;
  background-size: cover;
}
.banner-content h3{ 
  font-size: 48px;
  font-family: 'Font-Bold' , sans-serif !important;
  font-weight: 700;
}
.banner-content p{
  font-size: 22px;
  font-weight: 400;
  margin: 25px 0px;
} 
.banner-content button , .banner-content button:hover{
  padding: 9px 40px;
  font-size: 16px;
  background-color: #00A9E5;
  color: #ffff;
  font-weight: 600;
}
.banner-content{
  padding: 70px 20px;
  left: 135px;
  top: 90px;
}
.ex-nums span{
  font-size: 64px;
  font-weight: 700;
  color: #00A9E5;
}
.ex-name h6{
  font-size: 22px;
  font-weight: 600;
}
.expsec{
  background-color: #DBF6FF;
  padding: 34px 0px;
}
.sub-img{
  top: 70px;
  width: 268px;
  left: 60px;
}
.choose-title h2 , .service-title h2 , .customer-say h2 , .blog-title h2 , .talk-title h2  {
  font-family: 'Font-Bold' , sans-serif;
  font-size: 48px;
}
/* .serv-img img{
  width: 445px;
  border-radius: 20px;
} */
.service-sec{
  padding: 100px 0px;
}
/* .serv-box{
  background-color:  #25CEBA;
  border-radius: 25px 25px 10px 10px;
  margin: 30px 0px;
} */
/* .serv-name h5{
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0px;
} */
.explore-btn button , .explore-btn button:hover{
 background-color: #25CEBA;
 color: #ffff;
  padding: 9px 30px;
  margin-top: 50px;
  font-weight: 600;
}
.frame-img{
  top: 0px;
  right: 0%;
}
.frame-img img{
  width: 900px;
  height: 612px;
}
.intro-content h5{
  font-size: 22px;
  font-weight: 600;
  color: #25CEBA;
}
.intro-content h2{
  font-size: 46px;
  font-family: 'Font-Bold' , sans-serif;
  margin-top: 15px;
}

.intro-content p{
  font-size: 20px;
  margin: 30px 0px;
}
.intro-content{
  padding: 60px;
  background: url('../public/assets/banner3.png');
  width: 100%;
  height: 100%;
}
.sc-count span{
  font-size: 57px;
  font-weight: 600;
}
.sc-name h5{
  font-size: 22px;
  font-weight: 600;
}
.success-box{
  background-color:#18B9A6;
  color: #ffff;
  width: 339px;
  border-radius: 26px;
  padding: 22px 20px;
}
.success-sec{
  padding: 100px 0px;
  background-color: #FBFBFB;
}
.swiper-slide{
  width: 358px !important;
  margin-right: 10px;
  height: 401px !important;
  
}
.review-box{
  padding: 50px 30px;
  border: 2px solid #6FD9FE;
  border-radius: 36px;
  background-color: #ffff;
}
.customer-say{
  margin: 60px 0px;
}
.secure-sec{
  padding: 50px 0px;
  background-color: #000;
}
.secure-img img{
  width: 478px;
}
.secure-title h2{
  font-size: 49px;
  font-weight: 600;
}
.secure-title p{
  font-size: 24px;
  font-weight: 400;
}
.left-rect{
  top: 0px;
  width: 257px;
}
.right-rect{
  bottom: 0px;
  right: 0px;
  width: 257px;
}
.frame-icon{
  width: 192px;
  height: 215px;
  top: 0px;
  right: 17%;
}
.cst-name h5{
  font-size: 20px;
  font-family: 'Font-Bold' , sans-serif;
  margin: 0px;
}
.cst-city p{
  font-size: 16px;
  color: #AFAFAF;
  font-weight: 400;
  margin: 10px 0px;
}
.cst-city{
  width: 195px;
}
.cst-review h5{
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
}
.cst-star{
  color: #099834;
  font-size: 20px;
}
.cst-desc p{
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px;
}
.blog-box{
  background-color: #B6FFF6;
  width: 585px;
  border-radius: 17px;
}
.blog-info h6{
  font-size: 24px;
  font-weight: 700;
}
.blog-info{
  padding: 20px;
}

.blog-box .row{
  padding: 10px 20px;
}
.blog-btn button , .blog-btn button:hover{
  padding: 9px 30px;
  background-color: black;
  color: white;
  margin: 30px 0px;
  font-weight: 600;
}
.blog-sec{
  padding: 70px 0px;
}
.blog-pic{
  margin: 80px 0px;
}
.blog-load p{
  font-family: "Truculenta", sans-serif !important; 
  font-size: 24px;
  font-weight: 500;
  width: 103px;
  border-bottom: 2px solid #000;
}
.entry-form{
  margin: 0px 215px;
}
.forms{
  padding: 20px 0px;
}
.input-grp input , .select-grp select , .text-grp textarea , .input-grp input:focus , .select-grp select:focus-visible{
  padding: 20px 30px;
    border-radius: 43px;
    margin-bottom: 6px;
    width: 100%;
    border: 2px solid #25CEBA !important;
    box-shadow: none !important;
    outline: none !important;
}
.input-grp span , .select-grp span , .text-grp span{ 
  padding: 0px 20px;
}
.input-grp input::placeholder , .select-grp select , .text-grp textarea::placeholder{
  color: #B4B4B4;
  font-size: 19px;
}
.lets-sec{
  background-color: #DEFFFB;
  padding: 60px 0px;
}
.entry-form{
  margin-top: 40px;
}
.submit-btn button , .submit-btn button:hover{
  width: 124px;
  background-color: #000;
  margin-top: 30px;
  font-weight: 600;
}
/* .footer-details{

  padding: 100px 50px;
} */
 .footer-details{
  padding: 100px;
 }
.footer-sec{
  background-color: #04070D;
}
.footer-details h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 45px;
}
.footer-details p{
  font-size: 28px;
  font-weight: 400;
  margin: 30px 0px;
  line-height: 35px;
}
.footer-details button , .footer-details button:hover{
  background-color: #25CEBA;
  padding: 7px 20px;
  font-weight: 600;

}
.sp-social div img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.sp-input input , .sp-input input:focus , .sp-input input:focus-visible{
  width: 230px;
  border-radius: 0px;
  padding: 9px 20px;
 background-color:#181818 !important;
 font-size: 16px;
 box-shadow: none !important;
 color: #ffff;
 border: none;
}
.sp-input input::placeholder{
  color: #9D9D9D;
}
.sp-input button , .sp-input button:hover{
  background-color: #25CEBA;
  border-radius: 0px;
  padding: 7px 20px;
  font-weight: 600;
}
.sp-title h3 , .inf-title h3{
  font-family: 'Font-Bold' , sans-serif;
  font-size: 24px;
}
.pagings h5{
  margin: 20px 0px;
}
.sp-info p , .pagings h5{
  font-size: 16px;
  font-weight: 400;
}
/* .sign-up , .footer-bottom .brand-logo , .information{
  padding: 100px 50px;
} */
.footer-bottom{
  padding: 50px 100px;
}

.sp-info span{
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.choose-img img{
  width: 90px;
  height: 90px;
}
.choose-name{
  width: 250px;
}
.choose-option{
  margin-top: 40px;
}
.choose-box{
  padding: 30px 0px;
}
.choose-name h5{
  font-size: 24px;
  font-weight: 600;
}
.choose-button button , .choose-button button:hover{
  font-size: 16px;
  padding: 9px 52px;
  background-color: #000;
  color: #fff;
  font-weight: 600;

}
.choose-sec{
  padding: 80px 0px;
}
.sp-icon img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.sp-icon{
  width: 200px;
  background-color: #000;
  padding: 50px 50px;
  border-radius: 127px;

}
.sp-name h5{
  font-size: 28px;
  font-weight: 600;
  padding: 20px 0px;
  width: 295px;
}
.service-place{
  margin-top: 70px;
}
.sc-icon{
  width: 24px;
}
.sc-title h5{
  font-size: 48px;
  font-weight: 600;
  line-height: 61px;
}
.sc-title span{
  color: #b8b802;
}
.secure-div{
  background-color: #00153C;
  padding: 60px 0px; 
  color: #ffff;
}
.sc-types{
  margin: 25px 0px;
}
.athena img{
  width: 465px;
}
.sc-details button , .sc-details button:hover{
  padding: 11px 48px;
  font-size: 20px;
  font-weight: 600;
  background-color: #18B9A6;
}
.mapimg{
  background: url('../public/assets/map.png');
  background-size: contain;
  background-repeat: no-repeat;
height: 500px;
}
.secure-content{
  margin-left: 90px;
  padding: 40px 0px;
}
.scgap{
  margin: 50px 0px;
}
.lock-vontent p{
  font-size: 24px;
  margin: 30px 0px;
}
.lockimg img{
  height: 540px;
  object-fit: cover;
}
.lock-vontent{
  padding: 100px;
}
.securlock{
  background-color: #000;
  color: #ffff;
}
.abt-curve{
  top: 0px;
}
.abtbanner-content{
  top: 11%;
  left: 0px;
  padding: 0px 320px;
}
.abtbanner-content h2{
  font-size: 60px;
  font-family: 'Font-Bold' , sans-serif;
}
.abtbanner-content p{
  font-size: 28px;
  margin: 30px 0px;
}
.abtbanner-content button , .abtbanner-content button:hover{
  background-color: #00A9E5;
  color: #fff;
  font-weight: 600;
  padding: 13px 32px;
  font-size: 20px;
}
.abtwho-pic img{
  height: 673px;
  object-fit: cover;
}
.abtwho-cnt h2{
  font-family: 'Font-Bold' , sans-serif;
  font-size: 40px;
}
.abtwho-cnt h5{
  font-weight: 700;
  font-size: 25px;
  margin-top: 50px;
}
.abtwho-cnt p{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px ;
}
.abt-who{
  background-color: #F3F5F6;
}
.abtwho-cnt{
  padding: 100px 50px;
}
.mission-img img{
  width: 840px;
}
.abt-mission h4{
  font-size: 24px;
  color: #098879;
  font-weight: 600;
}
.abt-mission h2{
  font-family: 'Font-Bold' , sans-serif;
  font-size: 40px;
  margin: 30px 0px;
}
.abt-mission p{
  font-size: 20px;
}
.abt-billing{
  padding: 100px 0px;
}
.mission-img {
  margin-top: 60px;
}


/* .button {
    padding: 15px 3\0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.button span {
    display: inline-block;
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.4s, transform 0.4s;
}

.button:hover span {
    opacity: 1;
    transform: translateY(-8px);
}

.button span:nth-child(1) {
    transition-delay: 0.1s;
}

.button span:nth-child(2) {
    transition-delay: 0.2s;
}

.button span:nth-child(3) {
    transition-delay: 0.3s;
} */
/* 
.button span:nth-child(4) {
    transition-delay: 0.4s;
}

.button span:nth-child(5) {
    transition-delay: 0.5s;
}

.button span:nth-child(6) {
    transition-delay: 0.6s;
}

.button span:nth-child(7) {
    transition-delay: 0.7s;
}

.button span:nth-child(8) {
    transition-delay: 0.8s;
}

.button span:nth-child(9) {
    transition-delay: 0.9s;
}

.button span:nth-child(10) {
    transition-delay: 1s;
}

.button span:nth-child(11) {
    transition-delay: 1.1s;
}

.button span:nth-child(12) {
    transition-delay: 1.2s;
}

.button span:nth-child(13) {
    transition-delay: 1.3s;
}

.button span:nth-child(14) {
    transition-delay: 1.4s;
}

.button span:nth-child(15) {
    transition-delay: 1.5s;
} */
/* 
.button span:nth-child(16) {
    transition-delay: 1.6s;
}

.button span:nth-child(17) {
    transition-delay: 1.7s;
}

.button span:nth-child(18) {
    transition-delay: 1.8s;
}

.button span:nth-child(19) {
    transition-delay: 1.9s;
} */
/* 
.button span:nth-child(20) {
    transition-delay: 2s;
}
.button span:nth-child(21) {
  transition-delay: 2.1s;
}
.button span:nth-child(22) {
  transition-delay: 2.2s;
}
.button span:nth-child(23) {
  transition-delay: 2.3s;
}
.button span:nth-child(24) {
  transition-delay: 2.4s;
}
.button span:nth-child(25) {
  transition-delay: 2.5s;
} */

.pp{
  padding: 0px 2px;
}

.athpage{
  background-color: #F3F5F6;
}

.athena-frame .container h4{
  font-size: 50px;
}
.athena-frame .container h2{
  font-size: 120px;
  font-family: 'Font-Bold' , sans-serif;
}
.athena-frame .container p{
  font-size: 20px;
}
.athpic{
  position: absolute;
    top: 7%;
    left: 6%;
}
.athpic img , .wellpic img{
  width: 200px;
    background-color: #F2F2F2;
    border-radius: 115px;
    padding: 30px;
}
.wellpic{
  position: absolute;
  right: 8%;
  top:7% ;
}

.ci-tik{
  width: 55px;
  height: 55px;
  background-color: brown;
  border-radius: 50px;
}
.ci-tik img{
width: 22px;
height: 22px;
object-fit: contain;
}
.ci-points{
  background-color: #EEEEEE;
  padding:20px 30px;
  border-radius: 40px 0px 0px 40px;
  width: 650px;
}
.common-issue{
  padding: 80px 0px;
  background-color: #fff;
}
.ci-name h5{
  font-size: 28px;
}
.ci-title h2{
  font-size: 48px;
  font-weight: 600;
}
.modular-service {
  background-color: #DEFFFB;
  padding: 80px 0px;
}
.athena-modular h2 , .report-content h2{
  font-size: 58px;
  font-family: 'Font-Bold' , sans-serif;
}

.athena-modular p , .report-content p{
  font-size: 20px;
  padding-top: 40px;
}
.athena-modular{
  width: 850px;
}
.mo-point h5{
  font-family: 'Font-Bold' , sans-serif;
  font-size: 20px;
  margin: 20px 0px;
}
.mo-img img{
  width: 640px;
}

.point-btn button , .point-btn button:hover , .report-content button , .report-content button:hover{
  padding: 12px 46px;
  font-size: 20px;
  font-weight: 600;
  background-color: #25CEBA;
}
.report-service{
  background-color:#C8F0FF;
  padding: 80px 0px;
}
.report-img img{
  width: 515px;
}
.report-content button{
  background-color: #00A9E5 !important;
}
.value-point{
  width: 1000px !important;
  border-radius: 70px 0px 0px 70px !important;
}
.fff{
  width: 700px;
}
.jjjj{
  width: 55px;
  height: 55px;
  background-color: #099834;
  border-radius: 70px;
}
.jjjj img{
  width: 22px;
  height: 22px;
  object-fit: contain;
}
.service-intro{
  margin: 0px 230px;
}
.service-name h2{
  font-size: 64px;
  font-family: 'Font-Bold' , sans-serif;
}
.service-name p{
  font-size: 20px;
  margin: 25px 0px;
}
.service-img img{
  width: 540px;
  margin-top: 30px;
}

.partner-box{
  width: 600px;
  background-color: #25CEBA;
  padding: 78px 0px;
  border-radius: 20px;
  margin: 30px 0px
}
.pb-img{
  width: 125px
}
.pb-name{
  width: 300px;
}
.pb-name h4{
  font-size: 28px;
}
.sp-title h2{
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 50px;
}
.service-partner , .service-intro{
  padding: 60px 0px;
}
.bold-name{
  font-family: "Font-Bold" , sans-serif;
}
.ct-img img{
  height: 873px;
  width: 100%;
  object-fit: cover;
}
.ct-form{
  top: 14%;
  left: 9%;
  width: 550px;
}
.ct-form .entry-form{
  margin: 0px;
}
.ct-form .entry-form .forms{
  padding: 8px 0px;
}
.ct-form .entry-form button , .ct-form .entry-form button:hover{
  width: auto;
  margin-top: 10px;
  padding: 12px 45px;
  font-size: 20px;
  background-color: #00A9E5;
  border-radius: 0px;
}
.ct-form .entry-form textarea{
  border-radius: 25px;
}
.text-danger{
  font-size: 13px;
  padding: 0px 16px;
}